body {
    text-align: center;
    background-color: cornflowerblue;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 300px;
}

img {
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

img.photo {
    transform: scale(1);
}

img.photo1 {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 1000ms ease;
}

img.photo2 {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 1000ms ease;
}

img.photo3 {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 1000ms ease;
}

.selected {
  
    z-index: 10;
    transition: all 1000ms ease;
    transform: scale(2);
    
}